//colors
$color_sapphire: #39499b;
$color_storm_dust: #666666;
$black: #000000;

//fonts

//imports
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$font_0: montserrat;
$font_1: Roboto;

.headerStyles {
	border-bottom: 2px solid $color_sapphire;
	width: 100%;
}
.ulStyles {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 80%;
	float: right;
}
.avatar {
	border-radius: 50%;
	width: 3.25em;
}
.header {
	font-size: 3em;
	font-family: $font_0;
}
.welcome {
	display: inline-block;
	font-family: $font_1;
}

li .userDiv {
  display: flex;
  flex-direction: column;
	align-items: center;
}

.avatarWelcome.user div p {
	color: $color_storm_dust;
}

.links {
	font-family: $font_1;
	text-decoration: none;
	font-size: 1.2em;
	color: $color_storm_dust;
	&:hover {
		color: $black;
	}
}
.avatarWelcome {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.addFilterHeader {
	font-family: $font_0;
}

body {
	margin-top: 0;
}

nav h1 {
	margin: 0 0 .3em 0;
	padding-top: .2em;
	width: 3em;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .header {
    margin: 0 0 .3em 0;
	}
	
	nav h1 {
		padding-top: .2em;
		width: 60%;
	}

	nav {
		display: block;
	}

	a.bm-item.menu-item {
		color: #ffffff;
    text-decoration: none;
    font-size: 1em;
	}
}
