//colors
$color_silver_chalice: #aaaaaa;
$white: white;
$color_mountain_mist: #929292;

//imports
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

//fonts
$font_0: monserrat;
$font_1: Roboto;
$font_3: monospace;

main {
	text-align: center;
	font-family: $font_0;
	margin-top: 6em;
}
.login-btn {
	font-family: $font_1;
	border: none;
	border-radius: .51em;
	height: 2.3em;
	background-color: $color_silver_chalice;
	color: $white;
	font-weight: 400;
	font-size: 1.3rem;
	cursor: pointer;
	letter-spacing: .1rem;
	padding: .4em;
	margin: 1em;
	&:hover {
		background-color: $color_mountain_mist;
	}
}
.logo-div {
	display: flex;
	justify-content: center;
	align-items: center;
	&:after {
		clear: both;
		display: block;
		content: '';
	}
	img {
		width: 4em;
		height: 4em;
		&:hover {
			animation: shake .5s ease-in-out;
		}
	}
	h1 {
		font-family: $font_1, $font_3;
		font-size: 4em;
		margin: .4em;
	}
}

//logo animations
@keyframes shake {
	0% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-.5em);
	}
	40% {
		transform: translateX(.2em);
	}
	60% {
		transform: translateX(-.5em);
	}
	80% {
		transform: translateX(.2em);
	}
	100% {
		transform: translateX(0);
	}
}

//mobile styles
@media screen and(min-width: 320px) and(max-width: 400px) {
	.logo-div {
		margin-top: 2em;
		display: block;
		h1 {
			margin: 0;
		}
	}
}